.squared{
	border-radius: 0%;
}

.title{
	background-color: aliceblue;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right
}

.avatar{
	max-width: 100px;
}

hr{
	border-color: #CCC;
}

.under-navbar{
	padding-top: 60px;
}

.navbar{
	padding: 0px 10px;
}

footer{
	margin-bottom: 10px;
	width: 100%;
	background-color: #fff;
}

.main{
	min-height: 40em;
}

.chat{
	padding: 30px 10px !important;
}

.chat > .panel > .panel-body{
	min-height: 25em;
}

.chat-message{
	padding: 2px;
	border: 1px solid;
	border-radius: 10%;
	border-color: #FAEBCC;
	background-color: #FCF8E3;
}

.user-message{
	padding: 2px;
	border: 1px solid;
	border-radius: 10%;
	border-color: #D6E9C6;
	background-color: #DFF0D8;
}